cowrie.cfg
cowrie.pid
bin/cowrie-launch.cfg
data/.geoipupdate.lock
data/GeoLite2-City.mmdb
data/GeoLite2-ASN.mmdb
data/uservar.json
etc/ssh_host_dsa_key
etc/ssh_host_dsa_key.pub
etc/ssh_host_rsa_key
etc/ssh_host_rsa_key.pub
data/ssh_host_dsa_key
data/ssh_host_dsa_key.pub
var/log/cowrie/*
cowrie.egg-info/
dl/
build/
log/
__pycache__/
*.py[cod]
*env/
twisted/plugins/dropin.cache
.DS_Store
_trial_temp
.project
.pydevproject
.idea/
